<%- include('partials/header') %>
<!-- Blog post content -->
<div class="blog_content">
  <div class="wrapper2">
    <% matchingBlogs.forEach(blog => { %>
    <section>
      <h1><%= blog.title %></h1>
      <p class="p_content"><%= blog.content %></p>
      <p class="whole_content">
        <%= blog.wholeContent %> <span><%= blog.wholeContent2 %></span>
      </p>

      <p class="author"><small>By <span><%= blog.author %></span> on <%= blog.date %></small></p>
    </section>

    <div class="button_post">
      <a href="/edit/<%=blog.title %>">Edit</a>
    </div>
    <% }); %>


  </div>


</div>
